<% if proprietaire_signed_in? %>
  <li>
  <%= link_to('Déconnexion', destroy_proprietaire_session_path, :method => :delete) %>
  </li>
<% else %>
  <li> <%= link_to('Insciption', new_proprietaire_registration_path)  %></li>
  <li class="BoutonLogin"> <%= link_to('Connexion', new_proprietaire_session_path)  %></li>
<% end %>
