<% if proprietaire_signed_in? %>
  <li>
<%= link_to('Mon profil', profil_proprietaire_path) %>
</li>
<% elsif campeur_signed_in?%>
<li>
  <%= link_to('Mon profil', profil_campeur_path) %>
</li>
<% end %>
