
<h3><%= link_to camping.name, camping_path(camping.id) %></h3>
<p>Camping <b><%= camping.etoile%></b> à <%= camping.commune %></b></p>

<%if camping.image.present? %>
 <div class="imagecamp"><%= image_tag camping.image%></div>
   <%else%>
  <img src='http://cdn-jpg2.theactivetimes.net/sites/default/files/camping.jpg' width='265px' height='150px'>
<%end%>