
<h3><%= camping.name %> </h3>
<p>Camping <b><%= camping.etoile%></b> à <%= camping.commune %></b></p>
<p><%= link_to "Voir la fiche", camping_path(camping.id), class:"btn-primary", role:"button" %></p>
