<div class="container">
  <div class="form-signin">
    <h2 class="form-signin-heading">Mot de passe oublié?</h2>
<p>Vous avez oublié votre mot de passe ? Indiquez votre email pour en générer un nouveau </p>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputEmail", ariadescribedby:"emailHelp", placeholder:"Entrez votre email" %>
<br />
    <div class="form-group">
    <%= f.submit "Envoyer mon mot de passe", class:"btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>
