<div class="image_bg"></div>
<div class="container">
	<div class="row">
    <h1>Où voulez vous partir en vacances ?</h1>
          <div class="search">
            <%= form_tag(result_path, method: :get) %>
            <%= text_field_tag :q, params[:q], class:"search-query form-control" %>
            <%= submit_tag "Partez", class:"btn btn-danger", name: nil %>

        </div>
    </div>
</div>
