<!--Balise SEO-->
<% set_meta_tags site: "Nomsite",
    title: "Accès espace membre",
    reverse: true,
    description: "Accès à l'espace membre permettant de se connecter",
    canonical: "#{request.protocol}#{request.host_with_port}#{request.fullpath}",
    noindex: true,
    nofollow: true %>

<!--Accès pour les users-->
<H1> Accès users</H1>
    
      <% if user_signed_in? %>
      <h4>Vous êtes déjà connecté, profitez-en éditer votre profil :) </h4>
        <p><%= link_to('Déconnexion', destroy_user_session_path, :method => :delete) %></p>
        <p><%= link_to('Mon profil', profil_path) %></p>
      <% else %>
    <h4>Vous êtes un user à la recherche du camping parfait ? Connectez-vous ou inscrivez-vous !</h4>
        <p> <%= link_to('Insciption', new_user_registration_path)  %></p>
        <p class="BoutonLogin"> <%= link_to('Connexion', new_user_session_path)  %></p>
      <% end %>


</div>
